$color1_tile: rgb(58, 221, 218);
$color-2: rgb(191, 239, 238); //background
$color_white: white;
$color_barra_pag: rgb(176, 220, 219);
$color20_buttons: rgb(252, 136, 92);
$color_letras: rgb(254, 189, 164);
$color_iconos: rgb(0, 122, 255);
$color_sombra_iconos: rgb(157, 202, 250);
$color_recuadro_form: rgb(210, 212, 214);
$color_sombra_recuadro_form: rgb(229, 230, 231);
$color_font: rgb(103, 113, 118);
$color_font_descripcion_text: rgb(96, 106, 112);
$color_font_boton: rgb(255, 255, 255);
$color_black: black;
$color_gray_border: rgb(233, 234, 236);
$color_blue_x: rgb(67, 223, 220);
$color_gray_price: rgb(118,126, 132);