@import 'fonts';

.recibimos_pedido{
    width: 90%; 
    height: 220px;
    margin: 40px 20px;
}

.container_text_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NanumGothic-Regular';
}

.center_paragraph{
    padding: 10px 100px;
    text-align: center;
}