@import 'color';
@import 'fonts';

.h2_fav{
   font-weight: bold; 
   margin-bottom: 20px;
   font-family: 'NanumGothic-Regular';
   font-size: 15px;
   font-weight: bolder;
}


.display_sugest_images{
    display: flex;
    flex-direction: column;
    border: 1px solid  $color_gray_border;
    border-radius: 5px;
    width: 203px;
    height: 120px;
}

.sugest_images_father {
    position: relative;
    height: 80px;
}

// .sugest_menu_image{
//     margin-top: 20px;
// }

.title_image{
    margin-top: -30px;
    margin-left: 10px;
    font-family: 'NanumGothic-Regular';
    color: $color_black;
    font-weight: bolder;
    z-index: 1;
}

.container_price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px 20px 8px;
}

.product_title_class{
    font-family: 'NanumGothic-Regular';
    font-size: 20px;
}

.product_price_class{
    font-family: 'NanumGothic-Regular';
    font-size: 18px;
    color: $color_gray_price;
}

// #precio_image {
    
// }